<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Взувайка</title>

    <style>
        /* styles for the body */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
            font-size: 16px;
        }
        /* styles for the title */
        .title {
            text-align: center;
            color: #fff;
            background-color: #333;
            text-transform: uppercase;
            padding: 20px;
            margin: 0;
        }
        /* styles for the goodsHome aside */
        .goodsHome {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .goodsHome a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        .goodsHome a:hover {
            color: #ff4500;
        }
        /* styles for the description */
        .desc {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            line-height: 1.5;
        }
        .desc a {
            text-decoration: none;
            color: #ff4500;
            font-weight: bold;
        }
        .desc a:hover {
            text-decoration: underline;
        }
        .padcart {
            padding-left: 91.5%;
        }
    </style>
</head>
<body>
<h1 class="title" style="text-align: center;color: aliceblue;text-transform: uppercase">COOL SHOP</h1>
<aside class="goodsHome">
    <a href="/shop/list">Goods list</a>
    <a class="padcart" href="/cart">Cart</a>

</aside>

<p  class="desc">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae ex a eros semper suscipit. Mauris facilisis sit amet
risus at sollicitudin. Nulla varius tristique lacus, nec porta elit mattis condimentum. Nullam ut iaculis mauris. Donec
feugiat volutpat enim rutrum fermentum. Pellentesque id fringilla dolor, ut suscipit nisi. Praesent posuere quis ligula
eget elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vehicula
arcu sed imperdiet pellentesque. Nam rutrum malesuada ultrices. Phasellus vehicula bibendum urna. Aenean semper quis
odio consequat euismod. Integer at tincidunt justo. Vivamus ut ipsum est.

Nulla tincidunt ultricies enim sed sodales. Suspendisse nec pharetra neque. Integer sed erat vitae leo hendrerit
pharetra. Integer ut consectetur ipsum. Cras egestas scelerisque libero, in iaculis odio fringilla nec. In fermentum
nulla eu lacinia interdum. Quisque at dolor nunc. Maecenas aliquet augue vitae ullamcorper lacinia. Nam placerat a justo
eu fermentum. Suspendisse commodo a orci vel interdum. Curabitur interdum, mauris sed efficitur congue, justo libero
facilisis enim, nec interdum lectus dui quis diam. Vestibulum consectetur ullamcorper libero, pellentesque auctor augue
ultricies nec. Suspendisse eleifend blandit nunc, nec volutpat nisi dictum sit amet. Aliquam id orci id nulla vehicula
pharetra.

Nulla suscipit tristique facilisis. Integer augue dolor, ullamcorper sit amet sapien bibendum, scelerisque bibendum
urna. Phasellus nisi neque, mollis quis commodo sed, ullamcorper sed dolor. Proin a cursus nisi. Fusce lectus turpis,
eleifend a elementum sed, luctus non sem. Mauris in diam id augue lobortis pulvinar id a erat. Cras efficitur laoreet
lectus, in fringilla massa maximus eu. Donec eleifend mi at lectus imperdiet consectetur. Vestibulum elementum augue
urna, at ultrices augue vulputate malesuada.

Quisque posuere est quis tellus blandit, ac ullamcorper justo laoreet. Curabitur tempor, orci sit amet dignissim
iaculis, lorem lectus iaculis ex, sed ullamcorper lorem lectus tempor purus. In rhoncus porta nulla quis fermentum.
Aliquam aliquet tortor vel porta gravida. Quisque faucibus est ut tellus dapibus tempus. Aliquam porttitor tellus sed
vestibulum vulputate. Suspendisse tempor at magna a rhoncus. Nam ut magna gravida, ullamcorper tellus non, aliquet
magna. Fusce egestas maximus bibendum. Curabitur id nisi mollis, lobortis lorem id, tincidunt lorem. Ut eu risus ut quam
accumsan vestibulum luctus quis lorem. Duis dolor mi, consectetur eu euismod sed, ultricies non risus. Donec commodo,
nibh ut viverra ornare, massa orci ultrices enim, at tempus nisl massa et sapien. Nunc turpis lorem, varius a enim sit
amet, pulvinar bibendum lorem. Suspendisse quis odio eros.

Nunc finibus porttitor nulla nec feugiat. Aliquam at sagittis nibh. Maecenas in nibh ut tellus varius commodo. Quisque
consequat, felis consequat efficitur semper, est tortor egestas arcu, sit amet mattis dolor nulla non felis. Proin
aliquet faucibus urna, vulputate elementum metus convallis sed. Integer justo quam, aliquam vel mattis ultricies,
dapibus tempor magna. Duis sagittis, ipsum a semper ultricies, mi arcu posuere nisi, molestie euismod purus sem quis
arcu.

Vivamus id risus ligula. Proin at turpis in ante venenatis pulvinar a non magna. Phasellus sollicitudin consectetur ante
sit amet facilisis. Nullam varius convallis sodales. Donec consequat arcu at mi feugiat placerat. Proin quis elit
tincidunt, consequat odio eget, pharetra ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
ridiculus mus. Sed vel lectus id elit semper facilisis. Quisque cursus nibh nec porta commodo. Nullam et finibus nunc.
Integer in urna congue, finibus augue at, laoreet diam. Sed posuere, est et rutrum cursus, velit erat consectetur felis,
rutrum fermentum arcu dolor vel lacus.

In vitae aliquet orci, ac imperdiet dolor. Quisque tortor nisl, placerat sed mi nec, tristique pellentesque nulla. Donec
sagittis laoreet convallis. Nullam blandit tellus vitae nisi gravida, ac malesuada erat tristique. Cras rutrum mattis
eros sit amet varius. Nullam eu lacinia felis, non finibus urna. Nulla porta porta erat, nec faucibus mauris commodo ut.
Morbi consectetur scelerisque ex non venenatis. Nunc eros erat, placerat a finibus eu, mollis eget dolor. Curabitur
efficitur faucibus scelerisque. Nam nec sagittis ligula, ut eleifend ex.

Aliquam et fermentum sapien. Vestibulum efficitur nisl id sapien tempus, at laoreet quam consequat. Etiam egestas
gravida ipsum, quis luctus nibh eleifend a. Praesent nisi lorem, mollis nec viverra quis, pulvinar id ligula. Fusce
vulputate dictum condimentum. Sed sit amet nisi turpis. Ut id ultricies lorem. Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Maecenas tincidunt nibh mattis turpis volutpat auctor. Aliquam
erat volutpat. Nunc viverra, orci vitae vestibulum condimentum, nisi risus congue mauris, et consequat tellus justo non
velit. Quisque vel dictum lectus.

Nam vulputate eros vitae vestibulum hendrerit. Nulla sollicitudin at tortor et pellentesque. Phasellus at eros dapibus,
vehicula risus a, feugiat sem. Maecenas fringilla mi id congue pretium. Donec porttitor nulla et ex efficitur auctor.
Sed convallis neque vel elementum euismod. Integer eros nunc, commodo sit amet aliquam vestibulum, pharetra ut odio. Nam
ut convallis turpis. Aliquam eu ullamcorper dolor.

Vestibulum eget metus non augue pharetra cursus nec quis mauris. Vestibulum non lorem faucibus, tincidunt leo nec,
efficitur elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum
consectetur dui augue. Suspendisse mattis eleifend nulla, quis vehicula nisl tempor placerat. Orci varius natoque
penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eget justo et magna lacinia lobortis.
</p>
</body>
</html>
