<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <title>Взувайка</title>
</head>
<body>
<style>
    body {
        background: rgb(65, 64, 64);
    }
    .title{
        font-family: 'Josefin Sans', sans-serif;
    }
    .about{
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        border-bottom: aliceblue 2px solid;
        color: aliceblue;
    ;
    }

</style>

<h1 class="title" style="text-align: center;color: aliceblue;text-transform: uppercase">Man Club</h1>
<span class="about">Our goods</span>

</body>
</html>
